/* Body */
body {
  max-width: 1200px;
  font-family: "Lato", sans-serif;
  /* Background remove before submit! */
  background: orange;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 10px;
}

li {
  display: inline;
}
/* Navbar Buttons */
button {
  color: black;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: rgb(211, 211, 211);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid rgb(211, 211, 211);
  display: inline-block;
}
button:hover,
button:active {
  background: #32276f;
  color: white;
  border: 2px solid#32276f;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Cards */
.cards {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 1fr);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Images */
img {
  width: 500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
}

/* Container */
.description {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height: 150px;
  overflow-y: scroll;
}

/* Media Break Points */
/* Medium devices (landscape tablets, 641px and up) */
@media only screen and (min-width: 641px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  /* Cards */
  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a a b c"
      "d e f f"
      "g g h i"
      "j k l l"
      "m m n o"
      "p q r r";
  }
  .data-card-0 {
    grid-area: a;
  }
  .data-card-1 {
    grid-area: b;
  }
  .data-card-2 {
    grid-area: c;
  }
  .data-card-3 {
    grid-area: d;
  }
  .data-card-4 {
    grid-area: e;
  }
  .data-card-5 {
    grid-area: f;
  }
  .data-card-6 {
    grid-area: g;
  }
  .data-card-7 {
    grid-area: h;
  }
  .data-card-8 {
    grid-area: i;
  }
  .data-card-9 {
    grid-area: j;
  }
  .data-card-10 {
    grid-area: k;
  }
  .data-card-11 {
    grid-area: l;
  }
  .data-card-12 {
    grid-area: m;
  }
  .data-card-13 {
    grid-area: n;
  }
  .data-card-14 {
    grid-area: o;
  }
  .data-card-15 {
    grid-area: p;
  }
  .data-card-16 {
    grid-area: q;
  }
  .data-card-17 {
    grid-area: r;
  }
  /* 5th 11th 17th child */
  .data-card-5,
  .data-card-11,
  .data-card-17 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b";
  }
  img.img-5,
  img.img-11,
  img.img-17 {
    height: 100%;
    grid-area: a;
  }
  .c-5,
  .c-11,
  .c-17 {
    grid-area: b;
    padding-left: 1em;
  }
  /* Image */
  img {
    width: 100%;
  }
  /* Container */
  .d-5,
  .d-11,
  .d-17 {
    height: 100%;
    overflow-y: auto;
  }
}
