/*General html sytling*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
html{
  max-width:1200px;
  font-family:'Lato',sans-serif;

  min-height:120vh;
}
/*Syling for text, filter options, and read more aspects on the page*/
.selection{
  margin-top:25px;
  margin-bottom:25px;
}
a{
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: transparent;
  border-radius:5%;
  margin: 30px 0px;
}
a:hover{
  background-color: #1d0149;
  cursor:pointer;
}
a.active{
  background-color: #1d0149;
}

.text-field {
  height: 200px;
  position: relative;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(top,#000 80%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 25px;
}


.read-more {
  cursor: pointer;
  display:none;
  width: 100px;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  background-color:red;
  color:white;
  list-style: none;
}

/*Slide panel styling*/
/*All slide panel sttyling */
.slides{
  display:none;
  border:1px solid #efe6d7;

}
#container{
  padding-bottom: 50px;

}
/*Slide panel 1 and its elements*/
#slidePanel1{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#index1{
  width:100%;
  margin-bottom: 25px;
}
#index2, #index3, #index4{
  width:30%;

}
#index1 img{
  width:100%;
  height:250px;
}
#index2 img{
  width:100%;
}
#index3 img{
  width:100%;
}
#index4 img{
  width:100%;
}
/*Slide panel 2 and its elements*/
#slidePanel2{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#index5, #index6{
  width:50%;
}


#index5 img{
  width:100%;
}
#index6 img{
  width:100%;
}
/*Slide panel 3 and its elements*/
#slidePanel3{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
#index7, #index8, #index9, #index10{
  width:100%;
}

 #index7 img{
   width:100%;
   max-height: 200px;
 }
 #index8 img{
   width:100%;
  max-height: 200px;
 }
 #index9 img{
   width:100%;
   max-height: 200px;
 }
 #index10 img{
   width:100%;
   max-height: 200px;
 }

/*Navigaition buttons styling*/
#navigation{
  display:flex;
  justify-content: center;
}
button{
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: transparent;
  border-radius:5%;
  margin: 30px 0px;
}
button:hover{
    background-color: #1d0149;
  cursor: pointer;
}
#navigation button{
  margin-left: 2.5px;
  margin-right: 2.5px;

}
#navigation i{
  margin-right: 10px;
  margin-left: 10px;
}
