/* All fonts are Lato */
/* Set Max-Width */
* {
  font-family: "Lato", sans-serif;
  max-width: 1200px;
  /* Applying border-box the padding and border are included in the total width and height */
  box-sizing: border-box;
}
/*  Style that clears the flow */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

/*  */
/* Image changes auto when changing page size */
img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
/*  */
/* Media Queries Break Points */
/* For mobile phones: */
[class*="col-"] {
    grid-template-columns: 100%;
}

@media only screen and (min-width: 640px) {
  /* For tablets: */
  .grid {
    grid-template-columns: 33% 33% 33%;
  }
  img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */
  .grid {
    grid-template-columns: 50% 25% 25%;
  }
  img {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
}
