@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}
ol, ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* Home page */

h2 {
  font-weight: 900;
  margin: 12px 0px 12px;
  font-size: 1em;
}

.picture{
  height: 300px;
  width: 100%;
}

.picture img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.text {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.text:after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
     rgba(255,255,255, 1) 20%, 
     rgba(255,255,255, 0) 80%
  );
  pointer-events: none;
}

.grid {
  margin: 0 auto;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
}

/* Nav */

nav button {
  padding: 15px 25px;
  border-radius: 3px;
  margin: 10px 10px 0px 0px;
  background-color: #e2e2e2;
  border: none;
}
.selected {
  position: relative;
  background-color: #6b30a2;
  color: white;
  border: 2px solid #fff;
}

.selected::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border: 2px solid #6b30a2;
}
.nav, .wrapper {
  margin: 0 auto;
}
nav {
  margin: 0px 20px;
}

/* Media queries */

/* 1025 and up */
@media (min-width: 1025px) and (max-width: 2000px) {
  /* Grid stuff */
  nav {
    margin: 0px;
  }
  .wrapper {
    width: 1200px;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .story:nth-of-type(6n + 1) {
    grid-column: span 2;
  }

  .story:nth-of-type(6n) {
    grid-column: span 2;
  }

  .story:nth-of-type(6n) .picture {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 20px;
  }
  .story:nth-of-type(6n) .picture img {
    object-fit: cover;
  }

  .story:nth-of-type(6n) .text {
    height: 100%;
  }
}
 /* 641 and up */
@media (min-width: 641px) and (max-width: 1024px) {
  .grid {
    padding: 0px 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 630px) {
  .grid {
    padding: 0px 20px;
    grid-template-columns: 1fr;
  }
}