.App {
    max-width: 1200px;
}

.nav {
    margin: 20px;
}

.link {
    background-color: lightgrey;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
}