<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Solution for Part 4, Ivan Perez</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">

 <link rel="stylesheet" href="../../css/lib/bootstrap/bootstrap-customized.min.css">
 <link rel="stylesheet" href="../../css/main.css">


</head>
<body>

</div>
<main class="container">


  <div v-cloak>
    <%- yield %>
  </div>


  <div v-if="!$data">
  Loading..... (spinner)
  </div>



</main>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="js/part4.js"></script>

</body>
</html>
