<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>CMS Assessment</title>
  <link href="">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/normalize.css" />
  <link rel="stylesheet" href="../styles/index.css" />
</head>

<body>
  <main class="pageContainer">
    <div class="filters">
      <ul class="filtersList">
        <li class="filtersList__item filtersList__item--active" data-filter="all">All</li>
        <li class="filtersList__item" data-filter="listings">Listings</li>
        <li class="filtersList__item" data-filter="events">Events</li>
        <li class="filtersList__item" data-filter="offers">Offers</li>
      </ul>
    </div>

    <section class="listingsSection">
      <!--{{htmlCards render via js}}-->
    </section>
  </main>
  <script src="../js/index.js" type="module"></script>
</body>

</html>