@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
    font-family: Lato;
        line-height: 1.4;

}

/* container */ 

.container{
    width: 95%;
    margin: 20px auto;
}

/* Nav Buttons */

nav{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;

}
nav li{
    list-style: none;
    margin-bottom: 2rem;
}
.button{
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    background: lightgray;
    padding: 10px 20px;
    color: black;
}

.active{
    background: purple;
    color: #fff;
    border: 1px solid #fff;
    outline: 1px solid blue;
}

/* Main Content */

#content{
    max-width: 100%;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}

.content{
    margin-bottom: 3rem;
    position: relative;

}
.content p{
    position: relative;
    margin-top: 1rem;
    max-height: 120px;
    overflow: hidden;
}

.content img{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    
}

.content:nth-of-type(1){
    grid-column: 1/3;
}
.content:nth-of-type(6n+1){
    grid-column: 1/3;
}

.content:nth-child(6n+0){
    grid-column: 3/5;
    display: grid;
    height: 100%;
}
 .content:nth-of-type(6n+0) img{
    height: 70%;
    width: 100%;
    grid-column: 3/4;
}

.content:nth-of-type(6n+0) .text-content{
    margin-left: 30px;
    grid-column: 4/5;
}
.content:nth-of-type(6n+0) .read-btn{
    width: 100%;
    padding: 5px
}
.content:nth-of-type(6n+0) p{
    max-height: 300px;
}


/* Button Area */ 

.read-more{
  position: absolute;
  bottom: 1em;
  z-index: 100;
  padding: 40px;
  text-align: center;
background-image: linear-gradient(to bottom, transparent, white);

}

.read-btn{
    border: none;
    background: red;
    color: white;
    margin: 0 auto;
    display: none;
    border-radius: 5px;
}

/* L A R G E */

@media(max-width: 1200px){

}

/* M E D I U M */

@media(max-width: 1024px){
    #content{
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
    .content:nth-of-type(1){
    grid-column: 1/1;
}.content:nth-of-type(6n+1){
    grid-column: 1/1;
}
    .content:nth-of-type(6){
    all: unset;
}

.content:nth-of-type(6n+0) p{
    max-height: 120px;
}
.content:nth-of-type(6n+0) .text-content{
    padding: 0;
    margin: 0;
}
.content:nth-of-type(6n+0) .read-more{
    width: 100%;
    padding: 40px;
}
.content:nth-of-type(6n+0) .read-btn{
    padding: 5px;
}.content:nth-child(6n+0){
    display: block;

}.content:nth-child(6n+0){
    grid-column: 3/3;
    align-items: start;
    height: 100%;
}
.content:nth-of-type(6n+0) img{
    width: 100%;
    box-sizing: border-box;
}
}

/* S M A L L */
@media(max-width: 640px){
    #content{
        display: block;
    }
    .content:nth-of-type(6){
    display: block;
}
}