body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
}

.slideshow-container,
.grid-container-2col,
.grid-container-3col {
  height: 90vh;
}

.grid-container-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.grid-container-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.grid-container-2row {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
}

.grid-container-3row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}

.grid-item {
  background-color: lightpink;
  height: 100%;
}

.slide {
  display: none;
}

.controllers {
  height: 10vh;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.controllers > button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}