/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 20px 0;
}

.grid {
  display: grid;
  height: 87vh;
  gap: 1em;
}

.grid1 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  "box1 box3"
  "box1 box3"
  "box1 box4"
  "box2 box4"
  "box2 box5"
  "box2 box5";
}

.grid2 {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "box6 box8 box10"
  "box7 box9 box10";
}

.grid3 {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "box11 box13"
  "box12 box13";
}

.grid4 {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "box14 box15";
}

.box {
  background: url("../img/fallback.jpg") no-repeat center center/cover;
}

.box-text {
  display: flex;
}

.box-number {
  font-size: 9px;
  background: #fff;
  padding-bottom: 13px;
  padding-right: 7px;
}

.box-title {
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  padding-right: 10px;
}

.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }
.box6 { grid-area: box6; }
.box7 { grid-area: box7; }
.box8 { grid-area: box8; }
.box9 { grid-area: box9; }
.box10 { grid-area: box10; }
.box11 { grid-area: box11; }
.box12 { grid-area: box12; }
.box13 { grid-area: box13; }
.box14 { grid-area: box14; }
.box15 { grid-area: box15; }

#bottom {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-link {
  color: #009dff;
  text-decoration: none;
}

.cycle-btn {
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 100;
  padding: 5px;
}

.cycle-btn:hover {
  cursor: pointer;
}

.next-btn {
  margin-left: 12px;
}

.arrow {
  color: #009dff;
  margin: 0 4px;
}

.arrow:focus {
  outline: 1px solid #009dff;
}

@media screen and (max-width: 550px) {
  .box-title {
    font-size: 12px;
    padding-right: 2px;
  }
}