<div class="tabs">
    <div class="tab active-tab">
        <p data-tab="all">All</p>
    </div>
    <div class="tab">
        <p data-tab="listings">Listings</p>
    </div>
    <div class="tab">
        <p data-tab="events">Events</p>
    </div>
    <div class="tab">
        <p data-tab="offers">Offers</p>
    </div>
</div>