<div class="tabs">
    <div data-tab="all" class="tab active-tab">
        <p>All</p>
    </div>
    <div data-tab="listings" class="tab">
        <p>Listings</p>
    </div>
    <div data-tab="events" class="tab">
        <p>Events</p>
    </div>
    <div data-tab="offers" class="tab">
        <p>Offers</p>
    </div>
</div>