/*---General---*/
* {
    box-sizing: border-box;
}
/*Type*/
html {
    font-family: 'Lato', sans-serif;
}
p {
    font-size: 14px;
    font-weight: 400;
}
a {
    text-decoration: none;
}
.location-heading {
    font-weight: 900;
}
.location-description {
    position: relative;
}
.location-description:after {
    position: absolute;
    bottom: 0; 
    left: 0; 
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
        rgba(255,255,255, 1) 20%, 
        rgba(255,255,255, 0) 80%
    );
    pointer-events: none;
}

/*Frame/Container*/
.main-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

/*Images*/
img {
    display: block;
    width: 100%;
}


/*---Flex Styles---*/
.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}
.flex-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
    flex-grow: 1;
    flex: 1 0 0
}
.flex-grow-2 {
    flex-grow: 2;
}

/*---Button Styles---*/
.button-row {
    display: flex;
}
.button {
    background-color: lightgray;
    border-radius: 4px;
    color: black;
    padding: .8em 1.8em;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    margin: 10px;
}
.button-options {
    background-color: rgb(112, 55, 169);
    color: white;
    border: 2px solid white;
    outline: 2px solid blue;
}
.button-readmore {
    background-color: red;
    color: white;
    visibility: hidden;
    margin: 0 auto;
    opacity: 0;
    margin: 0 auto;
}

/*---Hover Styles---*/
.button:hover {
    background-color: darkgray;
}
.flex-item:hover .button-readmore  {
    visibility: visible;
    opacity: 1;
}
.button-readmore:hover  {
    background-color: darkred;
}

/*---Responsive Styles---*/
@media only screen and (max-width: 1025px) {
    .flex-row {
        flex-direction: column;
    }
    .flex-grow-2 {
        flex-grow: 1;
    }
}
@media only screen and (max-width: 641px) {
    .flex-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        }
    .flex-item {
        flex-direction: column;
        flex: 1 0 auto;
        }
}


