.card {
  display: flex;
  height: 550px;
  border: 15px solid white;
  position: relative;

  &:hover {
    .card__cta {
      visibility: visible;
    }
  }

  &__text-box {
    overflow: hidden;
    position: relative;
    min-height: 200px;
    width: 100%;
  }

  &__cta {
    padding: 1rem;
    position: absolute;
    background: rgb(247, 52, 52);
    border-radius: 0.5rem;
    z-index: 1;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    color: white;
    visibility: hidden;
    cursor: pointer;
  }

  .fadeout {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 4.5rem;
    background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

/* Styles for Horizontal and vertical cards*/

.horizontal {
  flex-direction: row;
  align-items: flex-start;

  .header-primary {
    padding-top: 0rem;
  }
  .card__img-container {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .card__text-box {
    width: 50%;
    height: 100%;
    padding-left: 2rem;
  }
}

.vertical {
  flex-direction: column;
  align-items: flex-end;

  .card__img-container {
    height: 300px;
    width: 500px;
    margin: 0 auto;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

@mixin card-med() {
  .card {
    width: 0px !important;
    flex-grow: 1;
    border: 10px solid white;
  }

  .horizontal {
    flex-direction: column;
    .header-primary {
      padding-top: 1rem;
    }

    .card__img-container {
      width: 100%;
      height: 300px;
    }

    .card__text-box {
      width: 100%;
      padding-left: 0rem;
    }
  }
}
