@media only screen and (min-width: 1025px) {

.centered{
    width: 70%;
    margin: auto;
    max-width: 1200px;
}

.buttonRow{
    padding: 15px;
}

.w3-button.w3-black{
    margin-right: 10px;
}

.container {
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: calc(50vh - 30px);
    grid-auto-rows: -webkit-calc(50vh - 30px);
    grid-auto-rows: -moz-calc(50vh - 30px);
    grid-auto-rows: -o-calc(50vh - 30px);
    
    font-family: 'Lato', sans-serif;
}

.containerItem{
    position: relative;
    overflow: hidden;
    max-height: 100%;
  }

  .container div:nth-child(1){
    grid-column: span 2;
 }

 .container div:nth-child(6n+1){
    grid-column: span 2;
 }

 .container div:nth-child(6n){
     grid-column: span 2;
 }

.nested, .container div:nth-child(6n)>section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.nestedText, .container div:nth-child(6n) div.text{
    grid-column: 2/3;
    grid-row: 1;
}

section{
    height: 100%;
}

.defaultImg{
    background-image: url(https://via.placeholder.com/500x500);
    height: 60%;
    background-position: center center;
}

.defaultImg2, .container div:nth-child(6n) section div.defaultImg{
    background-image: url(https://via.placeholder.com/500x500);
    height: 100%;
    background-position: center center;
    grid-column: 1/2!important;
    grid-row: 1!important;
}


 .containerImg{
    /* background-image: url(https://via.placeholder.com/500x500); */
    background-position: center center;
    height: 100%;
 }


 .nestedImg, .container div:nth-child(6n) div.containerImg{
    /* background-image: url(https://via.placeholder.com/500x500);
    background-position: center center; */
    grid-column: 1/2!important;
    grid-row: 1!important;
    width: 100%;
    height: 100%;
    margin-right: 5px; 
 }

.text {
position:relative;
}

.containerImg2{
    background-image: url(https://via.placeholder.com/500x500);
    background-position: center center;
    height: 100%;
    width: 50%;
 }

.shadow {
    position:absolute;
    top:3em;
    width:100%;
    height: 4em;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
    background: linear-gradient(transparent, white);
}

.shadow2 {
    position:absolute;
    top:15em;
    width:100%;
    height: 4em;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
    background: linear-gradient(transparent, white);
}

h4{
    display: block;
    font-size: 1em!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-weight: 900!important;
}

p{
    font-size: 0.8em!important;
}
}

@media screen and (max-width: 1024px) and (min-width: 641px){
    
.centered{
    width: 90%;
    margin: auto;
}

.buttonRow{
    padding: 15px;
}

.w3-button.w3-black{
    margin-right: 10px;
}
.container {
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(50vh - 30px);
    grid-auto-rows: -webkit-calc(50vh - 30px);
    grid-auto-rows: -moz-calc(50vh - 30px);
    grid-auto-rows: -o-calc(50vh - 30px);
    
    font-family: 'Lato', sans-serif;
}

.containerItem{
    position: relative;
    overflow: hidden;
    max-height: 100%;
  }

section{
    height: 100%;
}

.defaultImg{
    background-image: url(https://via.placeholder.com/500x500);
    height: 60%;
    background-position: center center;
}


 .containerImg{
    /* background-image: url(https://via.placeholder.com/500x500); */
    background-position: center center;
    height: 100%;
 }

.text {
position:relative;
}

.shadow {
    position:absolute;
    top:3em;
    width:100%;
    height: 4em;
    background: -webkit-linear-gradient(transparent, white);
    background: -o-linear-gradient(transparent, white);
    background: -moz-linear-gradient(transparent, white);
    background: linear-gradient(transparent, white);
}

h4{
    display: block;
    font-size: 1em!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    font-weight: 900!important;
}

p{
    font-size: 0.9em!important;
}
}

@media screen and (max-width: 640px){
    .centered{
        width: 90%;
        margin: auto;
    }
    
    .buttonRow{
        padding: 15px;
    }
    
    .w3-button.w3-black{
        margin-right: 10px;
    }
    .container {
        display: grid;
        margin-top: 15px;
        margin-bottom: 15px;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-auto-rows: calc(50vh - 30px);
        grid-auto-rows: -webkit-calc(50vh - 30px);
        grid-auto-rows: -moz-calc(50vh - 30px);
        grid-auto-rows: -o-calc(50vh - 30px);
        
        font-family: 'Lato', sans-serif;
    }
    
    .containerItem{
        position: relative;
        overflow: hidden;
        max-height: 100%;
      }
    
    section{
        height: 100%;
    }
    
    .defaultImg{
        background-image: url(https://via.placeholder.com/500x500);
        height: 60%;
        background-position: center center;
    }
    
    
     .containerImg{
        /* background-image: url(https://via.placeholder.com/500x500); */
        background-position: center center;
        height: 100%;
     }
    
    .text {
    position:relative;
    }
    
    .shadow {
        position:absolute;
        top:3em;
        width:100%;
        height: 4em;
        background: -webkit-linear-gradient(transparent, white);
        background: -o-linear-gradient(transparent, white);
        background: -moz-linear-gradient(transparent, white);
        background: linear-gradient(transparent, white);
    }
    
    h4{
        display: block;
        font-size: 1em!important;
        margin-top: 10px!important;
        margin-bottom: 10px!important;
        font-weight: 900!important;
    }
    
    p{
        font-size: 0.8em!important;
    }
};

