.grid_container {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    max-width: 1200px;
}

.listing_item {
    height:150px;
    overflow: hidden; 
    padding: 20px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 25%);
    mask-image: linear-gradient(to top, transparent 5%, black 25%);
}

@media (min-width: 1024px) {
    .listing_item_big1 {
        grid-column: span 2;
    }
    
    .listing_item_big2 {
        grid-column: span 2;
    }

    .listing_item_big2 img {
        width: 40%;
        float: left;
        height: 450px;
    }
    
    .listing_item_big2 .listing_item {
        float: left;
        width: 40%;
        height: 450px;
    }
    .grid_container {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .header {
        grid-column: span 4;
    }
}

@media (min-width: 641px) and (max-width: 1023px) {
    .grid_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header {
        grid-column: span 3;
    }
}

@media (max-width: 640px) {
    .grid_container {
        grid-template-columns: 100%;
    }
    .header {
        grid-column: span 1;
    }
}

.thumbnail {
    width: 100%;
    height: 300px;
}

button {
    cursor: pointer;
    border-radius: 0px;
    border: 0;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    box-shadow: none;
}

.toggle_button:hover {
    background-color: lightgray;
}

.selected_button {
    background-color: #6929b3;
    color: white;
    border-radius: 5px;
    border-style: double;
    border-width: 5px;
}

.selected_button:hover {
    background-color: #6929b3 !important;
}

.read_more {
    opacity: 0;
    background-color: #fc4103;
    color: white;
    margin-left: 40%;
    margin-top: -10px;
    float: left;
    clear: both;
    z-index: 100;
}

.listing_wrapper:hover .read_more {
    opacity: 1;
}

.read_more:hover {
    background-color: #c23000;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}
