body {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  margin: 20px 0;
}

section {
  position: relative;
  height: 450px;
  overflow: auto;
}

.image {
  background: url("../assets/images/placeholder500x500.png") no-repeat center center;
  height: 250px;
}

.col {
  float: left;
  margin: 0 1%;
}

.inner-col-img {
  float: left;
  width: 49%;
  margin-right: 1%;
  height: 100%;
}

.text p:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 370px, white);
}

@media only screen and (min-width: 1025px) {
  .landscape {
    width: 42%;
  }

  .portrait {
    width: 20%;
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
