body {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  margin: 20px 0;
}

section {
  height: 450px;
}

.image {
  background: url("../assets/images/placeholder500x500.png") no-repeat center center;
  height: 250px;
}

.col {
  float: left;
  margin: 0 1%;
}

@media only screen and (min-width: 1025px) {
  .landscape {
    width: 42%;
  }

  .portrait {
    width: 20%;
  }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
