<div class="image">
    <img src={{image}} />
</div>
<div class="content">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p class="readmore">
        <button>Read More</button>
    </p>
</div>