// This style consists of Duel Split
.stylesGlobal {
    display:flex;
    width:1200px;
    height: 750px;

    box-sizing: border-box;
    padding: .5rem 1rem .5rem 1rem ;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;

    .index {
        font-weight: 400;
        font-size: 1rem;
    }
}

.buttons {
    display:flex;
    justify-content: flex-end;

    padding-right: 1rem;

    span {
        display:flex;
        button {
            p {
                font-weight: 900;
                font-size: 2rem; 
                color:blue;

                padding:.5rem;
            }
            font-weight: 900;
            font-size: 1.3rem; 
            display:flex;
            // justify-content: center;
            align-items: center;
            
            background-color: white;
            text-decoration: none;
            border: none;
        }
        button:hover {
            border: 1px solid blue;
        }
    }
}

.styleOne{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.styleTwo{
    width:33%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.styleThree{
    width: 50%;
    // background-color: blue;
}

.styleFour{
    width: 50%;
    // background-color: pink;
}

