// This style consists of Duel Split
.stylesGlobal {
    display:flex;

}
.styleOne{
    width:50%;
    background-color: red;

}

.styleTwo{
    width: 33%;
    background-color: green;
}

.styleThree{
    width: 50%;
    background-color: blue;
}

.styleFour{
    width: 50%;
    background-color: pink;
}

