.grid_container {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.listing_item {
    height:150px;
    overflow: hidden; padding: 20px;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 25%);
   mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
}

@media (min-width: 1024px) {
    .listing_item_big1 {
        grid-column: span 2;
    }
    
    .listing_item_big2 {
        grid-column: span 2;
    }

    .listing_item_big2 img {
        width: 40%;
        float: left;
        height: 450px;
    }
    
    .listing_item_big2 .listing_item {
        float: left;
        width: 40%;
        height: 450px;
    }
    .grid_container {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (min-width: 641px) and (max-width: 1023px) {
    .grid_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .grid_container {
        grid-template-columns: 100%;
    }
}

.thumbnail {
    width: 100%;
    height: 300px;
}

.read_more {
    opacity: 0;
    cursor: pointer;
    background-color: #fc4103;
    box-shadow: none;
    border-radius: 0px;
    border: 0;
    padding: 10px;
    color: white;
    margin-left: 40%;
    margin-top: -10px;
    float: left;
    clear: both;
    z-index: 100;
}

.listing_wrapper:hover .read_more {
    opacity: 1;
}

.read_more:hover {
    background-color: #c23000;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}