@charset "ISO-8859-1";

/* 
	@author: John Yang
	@date: 2020/02/24
	
	Simpleview CMS Developer Assessment
	Part 1: REST-API 
	styles.css
*/

html, body { height: 100%; width: 100%; margin: 0; }

#main
{
	max-width: 1200px;
	
	height:100%;
	margin:auto;
	
	font-family:"Lato 400", "Lato 900";
}

.item
{
	height:50%;
	width:100%;
	padding:1%;
	
	overflow:hidden;
}

@media only screen and (min-width: 641px)
{
	[class*="item"]
	{
		float:left;
		width:31%;
	}
}

@media only screen and (min-width: 1025px)
{
	.item-largeVert
	{
		width:48%;
	}
	
	.item-smallVert
	{
		width:23%;
	}
	
	.item-smallVert > img
	{
		width:none;
	}
	
	.item-largeHoriz
	{
		width:48%;
	}
	
	.item-largeHoriz > *
	{
		float:left;
		height:100%;
		width:50%;
	}
}

img
{
	width:100%;
	height: 50%;
	object-fit: cover;
}