.columnTypeOne {
    display:flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;

    padding: .5rem .5rem .5rem 0;
    overflow: hidden;

    position: relative;
    text-align: center;
    color: black;

    .top-left {
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 8px;
        left: 0px;
        padding:.5rem;

        display:flex;
        align-items: center;
        p{
            padding-right: .5rem;
        }
    }
    img {
        object-fit: cover;
        width: 100%;

    }

}
.columnTypeTwo {
    height: 100%;

    margin: .5rem 0 .5rem .5rem;
    overflow: hidden;

    position: relative;
    text-align: center;
    color: black;
    .top-left {
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0px;
        left: 0px;
        padding:.5rem;

        display:flex;
        align-items: center;

        p{
            padding-right: .5rem;
        }

    }

    img {
        min-width: 100%;
        height: auto;
    }
    
}

.columnTypeThree {
    padding: .5rem .5rem .5rem 0;

    overflow: hidden;
    height: 100%;
    position: relative;
    text-align: center;
    color: black;

    .top-left {
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 8px;
        left: 0px;
        padding:.5rem;

        
        display:flex;
        align-items: center;
        p{
            padding-right: .5rem;
        }
    }

        img {
        height: 100%;
        width: 100%;
    }
}
