.listings-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listings-container .box {
  height: 750px;
  margin-bottom: 0.3vh;
  overflow: hidden;
  padding-bottom: 3vh;
  position: relative;
}
.listings-container .show-content {
  overflow: visible;
  height: auto;
}
.listings-container button {
  font-size: 1rem;
  height: 4vh;
  width: 30%;
  position: absolute;
  background: #ff4800;
  border: none;
  z-index: 0;
  color: white;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}
.listings-container .read-more {
  background: transparent;
  color: transparent;
}
.listings-container .box:hover .read-more {
  background: #ff4800;
  color: white;
}
.listings-container .read-more:focus {
  box-shadow: none;
}
.listings-container .text-container {
  padding-top: 2vh;
  text-align: left;
}
.listings-container .text-container p {
  padding-top: 2vh;
  font-size: 1rem;
}
.one {
  display: flex;
  flex-direction: column;
  width: 49.5%;
}
.one img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.two {
  width: 24.5%;
}
.two img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.three {
  width: 24.5%;
}
.three img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.four {
  width: 24.5%;
}
.four img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.five {
  width: 24.5%;
}
.five img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.six {
  display: flex;
  flex-direction: row;
  width: 49.5%;
}
.six img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .one {
    width: 32.5%;
  }
  .two {
    width: 32.5%;
  }
  .three {
    width: 32.5%;
  }
  .four {
    width: 32.5%;
  }
  .five {
    width: 32.5%;
  }
  .six {
    width: 32.5%;
    display: block;
  }
  .six img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
@media only screen and (max-width: 640px) {
  .one {
    width: 100%;
  }
  .two {
    width: 100%;
  }
  .three {
    width: 100%;
  }
  .four {
    width: 100%;
  }
  .five {
    width: 100%;
  }
  .six {
    width: 100%;
    display: block;
  }
  .six img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
