.directory-container {
  margin: 0 auto;
  margin-top: 40vh;
  height: 30vh;
  width: 30vw;
}
.directory-container button {
  font-size: 1.2rem;
  background: #f7ca18;
  border: none;
  margin: 2px;
  width: 30%;
  height: 20%;
}
