.App {
  text-align: center;
  
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container{
  font-family: Lato, sans-serif;
  margin: 20px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 250px);
  grid-gap: 10px
}


.container article{
  grid-column: span 1;
  grid-row: span 2;
  overflow:hidden;
  position: relative;
  
}

.container article:nth-child(6n+1) {
  grid-column: span 2;
}
.container article:nth-child(6n) {
  grid-column:  span 2;
  display: flex
  
}
.container article:nth-child(6n) img{
  width:50%;
  height: 100%;
  margin-right: 10px;
  
}


.container article img{
  height: 50%;
  width: 100%;
}


.container article button {
  background-color: #f03c06;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin:0 auto;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left:0%;
  right:0%;
  cursor:pointer
}

.container article:nth-child(6n) button {
  left:50%;
 }

.container article:hover button{opacity: 1}


@media screen and (max-width:640px) {
  .container{
    margin: 0px 10px 0px 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 160px);
  }

  .container article:nth-child(6n+1) {
    grid-column: span 1;
  }
  .container article:nth-child(6n) {
    grid-column:  span 1;
    display: block;
  }
  .container article:nth-child(6n) img{
    width:100%;
    height: 50%;   
  }

  .container article:nth-child(6n) button {
    left:0%;
   }

}

@media screen and (max-width:1025px) and (min-width:641px){
  .container{
    margin: 0px 10px 0px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 170px);
  }

  .container article:nth-child(6n+1) {
    grid-column: span 1;
  }
  .container article:nth-child(6n) {
    grid-column:  span 1;
    display: block;
    
  }
  .container article:nth-child(6n) img{
    width:100%;
    height: 50%;
  }

  .container article:nth-child(6n) button {
    left:0%;
   }



}