.card {
  background-position: center;
  background-attachment: fixed;
  margin: 20px;
}

.card:hover button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-header {
  display: block;
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-image: url('https://via.placeholder.com/500.gif');
}

h3 {
  justify-content: left;
}

p {
  text-align: center;
  background: -webkit-linear-gradient(#333, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  display: none;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  font-weight: 900;
}
