/* Grid */
.Grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Large - 1025px and up */
/* affects children 1,7,13,19 etc */

@media (min-width: 1025px) {
  .Grid > div:nth-child(6n + 1) {
    flex: 3 3 26%;
  }

  /* affects children 0,6,12,18 etc */
  .Grid > div:nth-child(6n) {
    flex: 3 3 26%;
  }

  .Grid > * {
    padding: 20px;
    flex: 0 1 26%;
  }
}

/* Medium - 641px and up */
@media (min-width: 641px) and (max-width: 1024px) {
  .Grid > * {
    flex: 1 0 26%;
  }
}

/* Small - 640px and below */
@media only screen and (max-width: 640px) {
  .Grid {
    flex-direction: column;
  }
}
