@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

    body{
        font-family: 'Lato', sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: auto;

    }

    h1{
        font-size: 16px; 
        font-weight: 900;
    }

    p {
        font-weight: 400;
    }

    img{
        width: 100%;
        height: 
    }

    .col-0, .col-5{
        padding: 10px; 
        position: relative; 
    }

    .col-0, .col-1, .col-2, .col-3, .col-4, .col-5{
        padding: 10px;
        position: relative
    }

    .read-more{
        position: absolute; 
        bottom: 0; 
        left: 0;
        width: 100%; 
        vertical-align: center;
        text-align: center; 
        margin: 0; padding: 30px 0; 
	    background-image: linear-gradient(to bottom, transparent, white);
    }

    .button{
        visibility: hidden;
        color: white;
        background-color: #379fe4;
        border-radius: 5px;
        text-decoration: none;
        padding: 0px; 
        max-height: 0px;
        overflow-y: hidden;
        box-shadow: 2px 2px 4px #000000;
    }

    .button:hover{
        background-color: #1d7ebe;
        
    }

    .col-0:hover .button,
    .col-1:hover .button,
    .col-2:hover .button,
    .col-3:hover .button,
    .col-4:hover .button,
    .col-5:hover .button {
        visibility: visible;
        padding: 10px;
        transition-property: all;
	    transition-duration: .5s;
        max-height: 30px
    }

    #grid{  
        padding-left: 10%; 
        padding-right: 10%; 
    }

    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        position: relative;
    }   

@media only screen and (min-width: 1025px){
    .row{
        height: 400px;
    }   
    .col-0, .col-5{
        width: 50%;
    }
    .col-1, .col-2, .col-3, .col-4{
        width: 25%;
    }  

      .col-5{
        display: flex;
    }

    .col-5 img{
        width: 50%;
        height: 100%;
        padding-right: 10px;
    }

}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
    .row{
        height: 400px;
    }
    .col-0, .col-1, .col-2, .col-3, .col-4, .col-5{
        width: 33%;
    }
}

@media only screen and (max-width: 640px) {
    .row{
        flex-direction: column;
    }
    .col-0, .col-5{
        width: 100%;
    }
    .col-1, .col-2, .col-3, .col-4{
        width: 100%;
    } 
}