* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {

  margin: 0 auto;

  max-width: 1200px;
  background-color: eggshell;
}


.infoCard {
  color:white;
}