/*General html sytling*/
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
html{
  max-width:1200px;
  font-family:'Lato',sans-serif;
}
/*Syling for text, filter options, and read more aspects on the page*/
.selection{
  margin-top:25px;
  margin-bottom:25px;
}
a{
  padding: 10px;
  background-color: #444;
  color: #fff;
  border: transparent;
  border-radius:5%;
  margin: 30px 0px;
}
a:hover{
  background-color: #1d0149;
  cursor:pointer;
}
a.active{
  background-color: #1d0149;
}
.text-field {
  height: 200px;
  position: relative;
  overflow:hidden;
  text-overflow: ellipsis;
  content: "";
  background: -webkit-linear-gradient(top,#000 80%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.read-more {
  cursor: pointer;
  display:none;
  width: 100px;
  border-radius: 5%;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  margin: 20px auto;
  background-color:red;
  color:white;
  list-style: none;
}

/*Media query for mobile devices*/
@media screen and (max-width:640px){
  img {
    max-width:100%;
    max-height: 500px;
    flex-shrink: 1;
  }
  .outputDisplay{
    width:100%;

  }
  .text-field {
    min-width:90%;
  }
  #container{
    display:flex;
    width:100%;
    flex-direction: column;
  }
}
/*Media query for tablet devices*/
@media screen and (min-width:641px) and (max-width:1024px){
  #container{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .outputDisplay{
    width:30%;
  }
  img {
    max-width:100%;
    max-height: 500px;
    flex-shrink: 1;
  }

}
/*Media query for desktop*/
@media screen and (min-width:1025px){
  #container{
    width:100%;
    height: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:baseline;
  }
  #index1{
    width:50%;

  }
  #index2,#index3{
    width:20%;


  }
  #index4, #index5{
    width:20%;

  }
  #index6{
    width:50%;
    display:flex;
    flex-flow: row wrap;
  }
  #index6 img{
    height:500px;
    width:60%;
  }
  #index6 .text-field{
    width:30%;
    height: 100%;
    margin-left: 20px;
  }
  #index7{
    width:50%;
  }
  #index8,#index9, #index10{
    width:20%;


  }

  .outputDisplay{
    width:30%;
    margin: 10px;

  }
  img {
    max-width:100%;
    max-height: 500px;
    min-height: 400px;
    flex-shrink: 1;
  }

}
