.app {
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
@media (min-width: 640px) {
  .app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    overflow-x: hidden;
  }
}
/* display changes from flex to grid with media queries*/
@media (min-width: 641px) {
  .grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
  }
}
@media (min-width: 1025px) {
  .grid-items {
    max-width: 1200px;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  .extended-grid {
    max-width: 1200px;
    padding: 20px;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 4fr);
  }
}
