@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.events {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1200px;
    }
    
    .event0 { 
      grid-area: 1 / 1 / 3 / 3; 
      width: 525px;
      margin: 10px;
      max-height:525px;
      overflow:hidden;
    }
  
    .event1 { 
      grid-area: 1 / 3 / 3 / 4; 
      width: 250px;
      margin: 10px;
      max-height:508px;
      overflow:hidden;
    }
  
    .event2 { 
      grid-area: 1 / 4 / 3 / 5; 
      width: 250px;
      margin: 10px;
      max-height:508px;
      overflow:hidden;
    }
  
    .event3 { 
      grid-area: 3 / 1 / 5 / 2;
      width: 250px;
      margin: 10px;
      max-height:508px;
      overflow:hidden;
    }
  
    .event4 { 
      grid-area: 3 / 2 / 5 / 3;
      width: 250px;
      margin: 10px;
      max-height:508px;
      overflow:hidden;
    }
  
    .event5 { 
      grid-area: 3 / 3 / 5 / 5; 
      width: 575px;
      margin: 10px;
      max-height:550px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .event6 { 
        grid-area: 1 / 1 / 3 / 3; 
        width: 525px;
        margin: 10px;
        max-height:525px;
        overflow:hidden;
      }
    
      .event7 { 
        grid-area: 1 / 3 / 3 / 4; 
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event8 { 
        grid-area: 1 / 4 / 3 / 5; 
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event9 { 
        grid-area: 3 / 1 / 5 / 2;
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event10 { 
        grid-area: 3 / 2 / 5 / 3;
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event11 { 
        grid-area: 3 / 3 / 5 / 5; 
        width: 575px;
        margin: 10px;
        max-height:550px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      .event12 { 
        grid-area: 1 / 1 / 3 / 3; 
        width: 525px;
        margin: 10px;
        max-height:525px;
        overflow:hidden;
      }
    
      .event13 { 
        grid-area: 1 / 3 / 3 / 4; 
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event14 { 
        grid-area: 1 / 4 / 3 / 5; 
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event15 { 
        grid-area: 3 / 1 / 5 / 2;
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event16 { 
        grid-area: 3 / 2 / 5 / 3;
        width: 250px;
        margin: 10px;
        max-height:508px;
        overflow:hidden;
      }
    
      .event17 { 
        grid-area: 3 / 3 / 5 / 5; 
        width: 575px;
        margin: 10px;
        max-height:550px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
  
  
  .image {
    width: 300px;
    height: 300px;
  }
  
  .image0 {
    width: 100%;
    height: 300px;
  }
  
  .image5 {
    width: 300px;
    height: 550px;
  }
  
  h2 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 900; 
  }
  
  p {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  
  .h6, .p6 {
    margin-left: 5px;
    width: 300px;
  }
  
  @media screen and (max-width: 1025px) {
   .events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }
  
   .event0 {
    grid-area: 1 / 1 / 2 / 2; 
    width: 250px;
    margin: 10px;
    max-height:400px;
    overflow:hidden;
   }
  
   .event1 { 
    grid-area: 1 / 2 / 2 / 3; 
    width: 250px;
    margin: 10px;
    max-height:400px;
    overflow:hidden;
  }
  
  .event2 { 
    grid-area: 1 / 3 / 2 / 4; 
    width: 250px;
    margin: 10px;
    max-height:400px;
    overflow:hidden;
  }
  
  .event3 { 
    grid-area: 2 / 1 / 4 / 1;
    width: 250px;
    margin: 10px;
    max-height:400px;
    overflow:hidden;
  }
  
  .event4 { 
    grid-area: 2 / 2 / 4 / 2;
    width: 250px;
    margin: 10px;
    max-height:400px;
    overflow:hidden;
  }
  
  .event5 {
    grid-area: 2 / 3 / 4 / 4; 
    width: 250px;
    margin: 10px;
    max-height:400px;
    overflow:hidden;
    display: inline;
   }
  
   .image, .image0, .image5 {
    width: 250px;
    height: 200px;
   }
  
   .h6, .p6 {
    margin-left: 5px;
    width: 250px;
  }
  }
  
  @media screen and (max-width: 641px) {
    .events {
      display: inline;
     }
  
     .event0, .event1, .event2, .event3, .event4 {
      width: 90%;
      margin: auto;
      max-height:500px;
      overflow:hidden;
     }
  
     .event5 {
      width: 90%;
      margin: auto;
      max-height:500px;
      overflow:hidden;
      display: inline;
     }
  
     .image, .image0, .image5 {
      width: 300px;
      height: 300px;
     }
  
     .h6, .p6 {
      margin-left: 25px;
      width: 90%;
    }
  }