@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.offers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1200px;
  }
  
  .offer1 { 
    grid-area: 1 / 1 / 3 / 3; 
    width: 525px;
    margin: 10px;
    max-height:525px;
    overflow:hidden;
  }

  .offer2 { 
    grid-area: 1 / 3 / 3 / 4; 
    width: 250px;
    margin: 10px;
    max-height:508px;
    overflow:hidden;
  }

  .offer3 { 
    grid-area: 1 / 4 / 3 / 5; 
    width: 250px;
    margin: 10px;
    max-height:508px;
    overflow:hidden;
  }

  .offer4 { 
    grid-area: 3 / 1 / 5 / 2;
    width: 250px;
    margin: 10px;
    max-height:508px;
    overflow:hidden;
  }

  .offer5 { 
    grid-area: 3 / 2 / 5 / 3;
    width: 250px;
    margin: 10px;
    max-height:508px;
    overflow:hidden;
  }

  .offer6 { 
    grid-area: 3 / 3 / 5 / 5; 
    width: 575px;
    margin: 10px;
    max-height:550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }


.media {
  width: 300px;
  height: 300px;
}

.media1 {
  width: 100%;
  height: 300px;
}

.media6 {
  width: 300px;
  height: 550px;
}

h2 {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 900; 
}

p {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.h6, .p6 {
  margin-left: 5px;
  width: 300px;
}

@media screen and (max-width: 1025px) {
 .offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
 }

 .offer1 {
  grid-area: 1 / 1 / 2 / 2; 
  width: 250px;
  margin: 10px;
  max-height:400px;
  overflow:hidden;
 }

 .offer2 { 
  grid-area: 1 / 2 / 2 / 3; 
  width: 250px;
  margin: 10px;
  max-height:400px;
  overflow:hidden;
}

.offer3 { 
  grid-area: 1 / 3 / 2 / 4; 
  width: 250px;
  margin: 10px;
  max-height:400px;
  overflow:hidden;
}

.offer4 { 
  grid-area: 2 / 1 / 4 / 1;
  width: 250px;
  margin: 10px;
  max-height:400px;
  overflow:hidden;
}

.offer5 { 
  grid-area: 2 / 2 / 4 / 2;
  width: 250px;
  margin: 10px;
  max-height:400px;
  overflow:hidden;
}

.offer6 {
  grid-area: 2 / 3 / 4 / 4; 
  width: 250px;
  margin: 10px;
  max-height:400px;
  overflow:hidden;
  display: inline;
 }

 .media, .media1, .media6 {
  width: 250px;
  height: 200px;
 }

 .h6, .p6 {
  margin-left: 5px;
  width: 250px;
}
}

@media screen and (max-width: 641px) {
  .offers {
    display: inline;
   }

   .offer1, .offer2, .offer3, .offer4, .offer5 {
    width: 90%;
    margin: auto;
    max-height:500px;
    overflow:hidden;
   }

   .offer6 {
    width: 90%;
    margin: auto;
    max-height:500px;
    overflow:hidden;
    display: inline;
   }

   .media, .media1, .media6 {
    width: 300px;
    height: 300px;
   }

   .h6, .p6 {
    margin-left: 25px;
    width: 90%;
  }
}