.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.image-display-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 95vh;
  width: 100vw;
}

.image-display-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  width: 100vw;
}
