.image {
    max-width: 500px;
    max-height: 500px;
}

.grid {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.header {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 641px) {
    .image {
        max-width: 250px;
        max-height: 250px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        max-width: 250px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
} 
