/* Body */
body {
  max-width: 1200px;
  font-family: "Lato", sans-serif;
  /* Background remove before submit! */
  background: orange;
}

/* Buttons */
button {
  color: black;
  font-size: 16px;
  line-height: 16px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background: rgb(211, 211, 211);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid rgb(211, 211, 211);
  display: inline-block;
}
button:hover,
button:active {
  background: #32276f;
  color: white;
  border: 2px solid#32276f;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Slider */
.slides {
  height: 85vh;
  width: 100%;
  max-width: 1200px;
  position: absolute;
  left: 0;
  top: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  height: 98.5%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  align-content: center;
  transition: all 0.25s;
  transform: translateX(-200%);
}
/* Slides Grid */
.slide-content {
  display: grid;
  grid-auto-rows: 1fr 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px;
}

.slide-content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* First Slide */
.slide-0 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "a c"
    "a c"
    "a d"
    "b d"
    "b e"
    "b e";
}
/* Second Slide */
.slide-1 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a c e"
    "b d e";
}
/* Third Slide */
.slide-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a c"
    "b c";
}
/* Fourth Slide */
.slide-3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "a b";
}

/* Slider content grid */
.sc-0 {
  grid-area: a;
}
.sc-1 {
  grid-area: b;
}
.sc-2 {
  grid-area: c;
}
.sc-3 {
  grid-area: d;
  top: 5%;
}
.sc-4 {
  grid-area: e;
}

.slide.next + .slide {
  transform: translateX(200%);
}

.slide.prev {
  z-index: 10;
  transform: translateX(-100%);
}
.slide.current {
  z-index: 10;
  transform: translateX(0);
}
.slide.next {
  z-index: 10;
  transform: translateX(100%);
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  width: 1200px;
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Images */
.card-img {
  width: 100%;
  height: 50%;
  max-width: 100%;
}

.img-2,
.img-3,
.img-4 {
  height: 30%;
}

.img-5,
.img-6,
.img-7,
.img-8,
.img-10,
.img-11 {
  height: 100%;
}
/* Container */
.description {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height: 50px;
  overflow-y: scroll;
}

.d-9,
.d-12 {
  height: 215px;
}

.d-13,
.d-14 {
  -webkit-mask-image: none;
  mask-image: none;
  height: 180px;
  overflow: hidden;
}
